.loginCard {
    padding: 20px;
    border-radius: 8px;
    margin-top: 4rem;
  }
  
  .loginTitle {
    margin-bottom: 20px;
  }
  
  .forgotPassword, .signUpLink {
    color: #007bff;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 600px) {
    .loginCard{
      margin-top: 0;
    }
  }

  
  