.loginContainer {
    position: relative; /* Để logo được định vị đúng */
    padding-top: 60px; /* Tạo khoảng trống phía trên để không bị che bởi logo */
  }
  
  .logoContainer {
    position: absolute;
    top: 16px; /* Khoảng cách từ trên cùng */
    left: -76px; /* Khoảng cách từ bên trái */
  }
  
  .logo {
    width: 50px; /* Kích thước logo */
    height: auto; /* Đảm bảo tỷ lệ hình ảnh không bị biến dạng */
  }
  
  .loginCard {
    padding: 20px;
    border-radius: 8px;
  }
  
  .loginTitle {
    margin-bottom: 20px;
  }
  
  .forgotPassword, .signUpLink {
    color: #007bff;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  