.jobDetail {
  display: flex;

    // padding: 2rem;
    background: #f9f9f9;
    // background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 1rem;
  
    h1 {
      margin-top: 0;
    }
  
    p {
      margin: 0.5rem 0;
    }
  
    ul {
      list-style: disc;
      margin-left: 2rem;
    }
    .titleContainer{
      background: white;
      padding: 20px;
      border-radius: 8px;
      margin: 10px;

      .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }
      .tenCV{
        // background: red;
        // justify-content: center;
      }
  
      .avatar{
        width: 100px;
        height: auto;
      }

      .btn{
        width: 80%;
        height: 40px;
        // background: #1E90FF;
  background: linear-gradient(90deg, rgba(35,9,121,1) 0%, rgba(0,142,255,1) 100%);
        border-radius: 5px;
        border: 1px solid white;
        color: white;
      }

      .btnSave{
        display: flex;
        width: 17%;
        height: 40px;
        border-radius: 5px;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #1E90FF;
        color: #1E90FF;
        background: white;
      }

      .btnDisabled {
        background-color: #6c757d; // Màu xám cho nút bị vô hiệu hóa
        cursor: not-allowed;
      }      
    }

  }
.utn{
  margin-left: 10px;
}

.columnOne{
  // background: #000;
  margin-right: 10px;
  min-width: 900px;
  max-width: 930px;
}
.columnTwo{
  // background: #000;
  margin-left: -20px;
}

.companyContainer{
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  
  // display: flex;
  .titleCongty{
    display: flex;
  }

  .avatar{
    height: 70px;
    width: 70px;
    border-radius: 5px;
    margin-right: 10px;
  }

}
.thongtinchung{
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;

}
.thongtinchinh{
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;

}
.them{
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;

}
.ngang{
  display: flex;
  justify-content: space-between;
}

.vieclamlienquan{
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
}
//similar job
.jobContainer {
  max-width: 1200px; /* Đặt chiều rộng tối đa để nội dung không quá rộng */
  margin: 0 auto; /* Căn giữa nội dung theo chiều ngang */
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.jobcard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  // flex-direction: column;
  gap: 0.5rem;
  text-decoration: none;
  width: 100%; 
  box-sizing: border-box; 
  // max-width: 400px; 
  min-height: 110px; 

  &:hover {
    // background: linear-gradient(to right, #87CEEB, #1E90FF);
    // background: #87CEEB;
    background: #f3f3f3;
  }

  h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  p {
    margin: 0;
    font-size: 15px;
    // color: #555;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
  }

  .linkJob{
    text-decoration: none;
  }

  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .avatar{
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text{
    color: #000;
    margin-left: 10px;
  }

  .describe{
    line-height: 1.2;
    width: 270px;
    color: black;
  }

  .skills{
    display: flex;
  }

  .skill{
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    margin: 1px;
  }

}

.chooseCV{
  display: flex;
  gap: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 0.5rem;

  button {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4682B4;
    }

    &:disabled {
      background-color: #d3d3d3;
      cursor: not-allowed;
    }
  }

  span {
    align-self: center;
    font-size: 1rem;
  }
}