.adminLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .mainContent {
    display: flex;
    flex: 1;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
    //giữ cho sidebar đứng yên
    margin-left: 12.5rem;
  }

//giữ cho header nằm yên trên top khi cuộn trang
.margin{
  margin-bottom: 5rem;
}