.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #007bff;
  color: #fff;
  //giữ cho header nằm yên trên top khi cuộn trang
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 50px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.logoutButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
