.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  // background-color: #007bff;
  background: linear-gradient(90deg, rgba(35,9,121,1) 0%, rgba(0,142,255,1) 100%);
  color: #fff;
  //giữ cho header nằm yên trên top khi cuộn trang
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 50px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.logoutButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.logoIcon{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.iconList{
  display: none;
}
@media (max-width: 768px) {
  .iconList{
    display: flex;
  }
}
