.searchBar {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .form {
    display: flex;
    width: 75%;
    max-width: 1200px; /* Tối đa chiều rộng để không bị rộng quá trên màn hình lớn */
    border-radius: 50px;
    // overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng đổ bóng nhẹ để làm nổi bật */
  }
  
  .jobInput,
  .locationInput {
    border: none;
    border-radius: 50px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    outline: none; /* Loại bỏ viền khi ô được chọn */
  }
  
  .jobInput {
    flex: 2;
    margin-right: 0.5rem; /* Thêm khoảng cách giữa các ô */
  }
  
  .locationInput {
    flex: 1;
    margin-right: 0.5rem; /* Thêm khoảng cách giữa các ô */
  }
  
  .searchButton {
    border-radius: 50px;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    background: linear-gradient(to right, #00aaff, #0077cc); /* Màu gradient xanh dương */
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .searchButton:hover {
    background: linear-gradient(to right, #0077cc, #005999); /* Hiệu ứng chuyển màu khi hover */
  }
  