.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-weight: bold;
  // background: linear-gradient(to right, #87CEEB, #1E90FF);
  // background: linear-gradient(90deg, rgba(35,9,121,1) 0%, rgba(0,142,255,1) 100%);
  background: #fff;
  position: fixed; /* Fix the header to the top of the page */
  top: 0;
  left: 0;
  width: 100%; /* Make sure the header spans the entire width */
  z-index: 1000; /* Ensure the header is above other content */
  // border-bottom: 1px solid gray;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.mainContent {
  margin-top: 4rem; /* Đảm bảo khoảng cách đủ để nội dung không bị che khuất bởi header */
}

.logoContainer {
  flex: 1;
}

.logo {
  width: 50px;
}

.nav {
  display: flex;
  align-items: center;
}
.navLinkLS{
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  background: linear-gradient(90deg, rgba(35,9,121,1) 0%, rgba(0,142,255,1) 100%);
  padding: 0.3rem 1rem;
  border-radius: 3px;
}
.navLinkLS:hover{
  text-decoration: none;
  background: blue;
}
.navLink {
  margin-left: 1rem;
  // color: white;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  text-decoration: none;
  // color: linear-gradient(90deg, rgba(35,9,121,1) 0%, rgba(0,142,255,1) 100%);
  color: blue;
}
.navLink::after {
  display: none !important; /* Ẩn mũi tên trỏ xuống */
}

.btn{
  // background: linear-gradient(to right, #87CEEB, #1E90FF);
  background: linear-gradient(90deg, rgba(35,9,121,1) 0%, rgba(0,142,255,1) 100%);
  border-color: #87CEEB;
  border-radius: 5px;
  margin: 2px;
  color: white;
}

.btnL{
  margin-left: 20px;
}

//notify
.notificationBadge {
  background-color: red;
  color: white;
  border-radius: 50%;
  // padding: 0.2em 0.5em;
  padding: 0.4em;
  font-size: 0.8em;
  position: absolute;
  // top: -5px;
  // right: -5px;
  top: 2px;
  right: 6px;
}

.unreadNotification {
  font-weight: bold;
}

.unreadDot {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-left: 5px;
}

.unreadNotification {
  font-weight: bold;
}

.modal-body {
  word-wrap: break-word;
}

.notificationContainer {
  position: relative;
}

.scrollableDropdown {
  max-height: 200px; /* Set the desired max height */
  overflow-y: auto;  /* Enable vertical scrolling */
}

.tb{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -2px;
  border-bottom: 1px solid #f5f5f5;
  background: linear-gradient(90deg, rgba(35,9,121,1) 0%, rgba(0,142,255,1) 100%);
  color: white;
  padding: 10px 0;
}