.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #87CEEB, #1E90FF);
  position: fixed; /* Fix the header to the top of the page */
  top: 0;
  left: 0;
  width: 100%; /* Make sure the header spans the entire width */
  z-index: 1000; /* Ensure the header is above other content */
}

.mainContent {
  margin-top: 4rem; /* Đảm bảo khoảng cách đủ để nội dung không bị che khuất bởi header */
}

.logoContainer {
  flex: 1;
}

.logo {
  width: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.navLink {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

.btn{
  background: linear-gradient(to right, #87CEEB, #1E90FF);
  border-color: #87CEEB;
  border-radius: 5px;
  margin: 2px;
}

.btnL{
  margin-left: 20px;
}

//notify
.notificationBadge {
  background-color: red;
  color: white;
  border-radius: 50%;
  // padding: 0.2em 0.5em;
  padding: 0.4em;
  font-size: 0.8em;
  position: absolute;
  // top: -5px;
  // right: -5px;
  top: 2px;
  right: 18px;
}

.unreadNotification {
  font-weight: bold;
}

.unreadDot {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-left: 5px;
}

.unreadNotification {
  font-weight: bold;
}

.modal-body {
  word-wrap: break-word;
}

.notificationContainer {
  position: relative;
}

.scrollableDropdown {
  max-height: 200px; /* Set the desired max height */
  overflow-y: auto;  /* Enable vertical scrolling */
}

