.footer {
  background: linear-gradient(90deg, rgba(35,9,121,1) 0%, rgba(0,142,255,1) 100%);
    padding: 2rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .info {
    flex: 1;
    text-align: justify;
    margin-right: 30px;
  }
  
  .socialMedia {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .socialMedia a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .socialMedia a:hover {
    color: #0b71a3;
  }